In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns
import re

## Чтение данных

In [2]:
df_amo= pd.read_csv('amocrm_sample_export.csv', encoding='utf-8')

In [3]:
df_values= pd.read_csv('list_of_values.csv', encoding='utf-8')

In [4]:
df_sample= pd.read_csv('certificates_list_sample.csv', encoding='utf-8')

In [5]:
#Вывод таблицы во всю ширину
pd.set_option('display.max_columns', None)
df_amo.head(5)

,ID,Этап сделки,Бюджет,Дата создания сделки,Дата закрытия,DELIVERY_PRICE,Стоимость доставки,PRODUCTS,PRICE,SUBTOTAL,Выручка от клиента,Направление (вид сертификата),Номер сертификата,КОРНЕВАЯ СДЕЛКА,Номер 2-го сертификата,Сертификат на фотографа,Сертификат на тренера,Статус погашения,Дата оплаты подрядчику
0,26165303,Успешно реализовано,5500,30.11.2023 17:43:20,30.11.2023 18:00:00,0.0,NaN,катание на картинге (Варианты: 40 минут катани...,5500.0,5500.0,5500,Картинг,VKA4_4314611,NaN,NaN,NaN,NaN,NaN,NaN
1,26163311,Успешно реализовано,8000,30.11.2023 14:58:27,01.12.2023 15:09:00,NaN,NaN,Мотокросс и Эндуро (Варианты: Персональная тре...,8000.0,8000.0,8000,Мото Мотокросс,MT 273176,NaN,NaN,NaN,NaN,NaN,NaN
2,26162989,Успешно реализовано,5450,30.11.2023 14:33:51,01.12.2023 15:20:00,450.0,NaN,Стрельба из боевого оружия (Варианты: Курс «на...,5450.0,5000.0,5450,Тир. Стрельба из боевого оружия,GU2 21041,NaN,NaN,NaN,NaN,NaN,NaN
3,26160427,Успешно реализовано,34567,30.11.2023 11:37:23,02.12.2023 16:01:00,NaN,NaN,"Универсальный 23456 (Варианты: 34 567 руб., Бу...",34567.0,34567.0,34567,Универс. 23.456 и 34.567,WTF3 269703,NaN,NaN,NaN,NaN,NaN,NaN
4,26158865,Успешно реализовано,9000,30.11.2023 09:39:04,30.11.2023 09:47:00,NaN,NaN,Аэротруба (Варианты: 10 минут полёта (для 1-2 ...,9000.0,9000.0,9000,Аэротруба,VAT10 4353286,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
df_amo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2622 entries, 0 to 2621
Data columns (total 19 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   ID                             2622 non-null   int64
 1   Этап сделки                    2622 non-null   object
 2   Бюджет                         2622 non-null   int64
 3   Дата создания сделки           2622 non-null   object
 4   Дата закрытия                  2622 non-null   object
 5   DELIVERY_PRICE                 1647 non-null   float64
 6   Стоимость доставки             9 non-null      float64
 7   PRODUCTS                       2452 non-null   object
 8   PRICE                          2452 non-null   float64
 9   SUBTOTAL                       2452 non-null   float64
 10  Выручка от клиента             2498 non-null   object
 11  Направление (вид сертификата)  2622 non-null   object
 12  Номер сертификата              2622 non-null   object
 13  КОРНЕВАЯ СДЕЛКА                135 non-null    object
 14  Номер 2-го сертификата         82 non-null     object
 15  Сертификат на фотографа        16 non-null     object
 16  Сертификат на тренера          97 non-null     object
 17  Статус погашения               1048 non-null   object
 18  Дата оплаты подрядчику         1052 non-null   object
dtypes: float64(4), int64(2), object(13)
memory usage: 389.3+ KB

In [7]:
df_values.head(10)

,Id,Activity Name,Value,Status,Prefix,Purchase Price,Sale Price
0,1,Вейксёрф и вейкборд,2 часа вейксерфинга или вейкбординга\nна волне...,on_air,WS2,NaN,22500.0
1,2,Вейксёрф и вейкборд,1 час вейксерфинга или вейкбординга\nна волне ...,on_air,WS1,NaN,11000.0
2,3,Вейксёрф и вейкборд,40 минут вейксерфинга или вейкбординга\nна вол...,on_air,WS40,NaN,7500.0
3,4,Вейксёрф и вейкборд,30 минут вейксерфинга или вейкбординга\nна вол...,on_air,WS30,NaN,5500.0
4,5,Вейксёрф и вейкборд,25 минут вейксерфинга или вейкбординга\nна вол...,on_air,WS25,NaN,5000.0
5,6,Вейксёрф и вейкборд,2 часа вейксерфинга или вейкбординга\nна любой...,on_air,WSN2,NaN,26500.0
6,7,Вейксёрф и вейкборд,1 час вейксерфинга или вейкбординга на любой в...,on_air,WSN1,NaN,13500.0
7,8,Вейксёрф и вейкборд,40 минут вейксерфинга или вейкбординга на любо...,on_air,WSN40,NaN,8500.0
8,9,Вейксёрф и вейкборд,25 минут вейксерфинга или вейкбординга на любо...,on_air,WSN25,NaN,6000.0
9,10,Флайборд,1 час полёта на флайборде,on_air,MF60,NaN,12500.0

In [8]:
df_values.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 198 entries, 0 to 197
Data columns (total 7 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Id              198 non-null    int64
 1   Activity Name   198 non-null    object
 2   Value           196 non-null    object
 3   Status          198 non-null    object
 4   Prefix          198 non-null    object
 5   Purchase Price  167 non-null    float64
 6   Sale Price      196 non-null    float64
dtypes: float64(2), int64(1), object(4)
memory usage: 11.0+ KB

Столбцы в нижний регистр и удаление пробелов

In [9]:
df_amo.columns = df_amo.columns.str.lower()
df_values.columns = df_values.columns.str.lower()

In [10]:
df_amo.columns = df_amo.columns.str.strip()
df_values.columns = df_values.columns.str.strip()

In [11]:
df_amo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2622 entries, 0 to 2621
Data columns (total 19 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   id                             2622 non-null   int64
 1   этап сделки                    2622 non-null   object
 2   бюджет                         2622 non-null   int64
 3   дата создания сделки           2622 non-null   object
 4   дата закрытия                  2622 non-null   object
 5   delivery_price                 1647 non-null   float64
 6   стоимость доставки             9 non-null      float64
 7   products                       2452 non-null   object
 8   price                          2452 non-null   float64
 9   subtotal                       2452 non-null   float64
 10  выручка от клиента             2498 non-null   object
 11  направление (вид сертификата)  2622 non-null   object
 12  номер сертификата              2622 non-null   object
 13  корневая сделка                135 non-null    object
 14  номер 2-го сертификата         82 non-null     object
 15  сертификат на фотографа        16 non-null     object
 16  сертификат на тренера          97 non-null     object
 17  статус погашения               1048 non-null   object
 18  дата оплаты подрядчику         1052 non-null   object
dtypes: float64(4), int64(2), object(13)
memory usage: 389.3+ KB

Удаление пробелов и вставка символа "_"

In [12]:
df_amo.columns = df_amo.columns.map(lambda x: re.sub( '(?<!^)(?=[ ])', '_', x ).lower())
df_amo.columns = df_amo.columns.map(lambda x: re.sub( ' ', '', x ))

In [13]:
df_values.columns = df_values.columns.map(lambda x: re.sub( '(?<!^)(?=[ ])', '_', x ).lower())
df_values.columns = df_values.columns.map(lambda x: re.sub( ' ', '', x ))

In [14]:
df_values.head(5)

,id,activity_name,value,status,prefix,purchase_price,sale_price
0,1,Вейксёрф и вейкборд,2 часа вейксерфинга или вейкбординга\nна волне...,on_air,WS2,NaN,22500.0
1,2,Вейксёрф и вейкборд,1 час вейксерфинга или вейкбординга\nна волне ...,on_air,WS1,NaN,11000.0
2,3,Вейксёрф и вейкборд,40 минут вейксерфинга или вейкбординга\nна вол...,on_air,WS40,NaN,7500.0
3,4,Вейксёрф и вейкборд,30 минут вейксерфинга или вейкбординга\nна вол...,on_air,WS30,NaN,5500.0
4,5,Вейксёрф и вейкборд,25 минут вейксерфинга или вейкбординга\nна вол...,on_air,WS25,NaN,5000.0

In [15]:
df_values.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 198 entries, 0 to 197
Data columns (total 7 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   id              198 non-null    int64
 1   activity_name   198 non-null    object
 2   value           196 non-null    object
 3   status          198 non-null    object
 4   prefix          198 non-null    object
 5   purchase_price  167 non-null    float64
 6   sale_price      196 non-null    float64
dtypes: float64(2), int64(1), object(4)
memory usage: 11.0+ KB

In [16]:
prefix_values = df_values['prefix'].unique()

In [17]:
prefix_values

array(['WS2', 'WS1', 'WS40', 'WS30', 'WS25', 'WSN2', 'WSN1', 'WSN40',
       'WSN25', 'MF60', 'MF30', 'MF20', 'HB60', 'HB30', 'HY60', 'HY30',
       '2WP24', 'WP2H', 'WP60', 'WP15', 'SU24', 'SU60', 'SUT', 'EFL30',
       'EFL60', 'SKI60', 'SKI40', 'W&F', 'MWS2', 'MWS1', 'MWS40', 'MWS30',
       'MWS25', 'MWSN2', 'MWSN1', 'MWSN40', 'MWSN25', 'MMF60', 'MMF30',
       'MMF20', 'MHB60', 'MHY60', 'MHY30', '2MWP24', 'MWP2H', 'MWP60',
       'MWP15', 'MSU24', 'MSU60', 'MEFL30', 'MEFL60', 'MSKI60', 'MSKI40',
       'AC2', 'AC60', 'AC30', 'RB60', 'RB40', 'RB30', 'RB20', 'RB15',
       'CSR60', 'CS60', 'CS40', 'CS30', 'CS20', 'PR60', 'PR40', 'PR30',
       'PR20', 'RT', 'RTV', 'RC', 'RCV', 'RX', 'RXV', 'DRCH', 'DRC2H',
       'ED3H', 'EDС', 'AT4', 'AT6', 'AT10', 'AT15', 'AT30', 'AT4K',
       'AT6K', 'AT60', 'BG', 'BGH', 'BGK', 'BGKH', 'GR1', 'GR2', 'OWG',
       'OWI', 'OW2', 'CW1', 'CW2', 'CWH', 'CW1T', 'CW2T', 'KA2', 'KA4',
       'KA6', 'KAT', 'KAT2', 'KAT4', 'LL1H', 'LL1HP', 'LL2H', 'LL2HP',
       'LL3H', 'KW', 'KW2', 'KS', 'KS2', 'KYT', 'KYT2', 'KV1X1', 'KVP1X1',
       'KV2X1', 'KVP2X1', 'BF40', 'BF90', 'BF180', 'YEР', 'YHD', 'YAS',
       'DT30', 'DT32', 'DT40', 'DT42', 'DT60', 'DT62', 'DTM', 'МТ', 'МТТ',
       'МТ5', 'MT10', 'РB', 'РB2', 'РB2X', 'EB1x', 'EB2x', 'EB4x', 'MB',
       'MB2', 'MB2X', 'PL15', 'PL20', 'PL30', 'PP', 'PP2', 'PPP', 'PP2P',
       'PPS', 'PP2S', 'PPT', 'SK', 'SK2', 'SKV', 'SK2V', 'SKT', 'RJ',
       'RJ2', 'GC1', 'GC2', 'SN1X', 'SN2X', 'SKT1', 'SKT2', 'SKT4',
       'SKT6', 'SKT10', 'SG5', 'SG10', 'GU', 'GU2', 'MW&F', 'WTF2',
       'WTF3', 'SH', 'SH2', 'SHH', 'FR', 'FR2,', 'FRT', 'FRK', 'FRTK',
       'TB', 'TB2', 'TB4', 'ABG', 'AB4G', 'AB', 'AB4'], dtype=object)

In [18]:
len(prefix_values)

197

Все prefix прописные

Копирование исходной базы

In [19]:
df_amo_temp = df_amo.copy()

Переименование столбцов

In [20]:
df_amo_temp.rename(columns = {'номер_сертификата':'code', 'id':'amo_id','дата_закрытия':'sale_date','дата_оплаты_подрядчику':'card_used_date'}, inplace = True )

In [21]:
df_values.rename(columns = {'id':'activity_value_id' }, inplace = True )

In [22]:
df_amo_temp['code'] = df_amo_temp['code'].str.upper()

In [23]:
df_amo_temp['дата_создания_сделки'] = pd.to_datetime(df_amo_temp['дата_создания_сделки'] )

C:\Users\fiv_e\AppData\Local\Temp\ipykernel_9400\1868446354.py:1: UserWarning: Parsing dates in %d.%m.%Y %H:%M:%S format when dayfirst=False (the default) was specified. Pass `dayfirst=True` or specify a format to silence this warning.
  df_amo_temp['дата_создания_сделки'] = pd.to_datetime(df_amo_temp['дата_создания_сделки'] )

In [24]:
df_amo_temp['sale_date'] = pd.to_datetime(df_amo_temp['sale_date'])

C:\Users\fiv_e\AppData\Local\Temp\ipykernel_9400\3706027285.py:1: UserWarning: Parsing dates in %d.%m.%Y %H:%M:%S format when dayfirst=False (the default) was specified. Pass `dayfirst=True` or specify a format to silence this warning.
  df_amo_temp['sale_date'] = pd.to_datetime(df_amo_temp['sale_date'])

In [25]:
df_amo_temp['card_used_date'] = pd.to_datetime(df_amo_temp['card_used_date'],errors='coerce')

In [26]:
df_amo_temp = df_amo_temp.sort_values(by=["дата_создания_сделки"], ascending=True)

In [27]:
df_amo_temp = df_amo_temp.reset_index(drop=True)

In [28]:
df_amo_temp.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2622 entries, 0 to 2621
Data columns (total 19 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   amo_id                         2622 non-null   int64
 1   этап_сделки                    2622 non-null   object
 2   бюджет                         2622 non-null   int64
 3   дата_создания_сделки           2622 non-null   datetime64[ns]
 4   sale_date                      2622 non-null   datetime64[ns]
 5   delivery_price                 1647 non-null   float64
 6   стоимость_доставки             9 non-null      float64
 7   products                       2452 non-null   object
 8   price                          2452 non-null   float64
 9   subtotal                       2452 non-null   float64
 10  выручка_от_клиента             2498 non-null   object
 11  направление_(вид_сертификата)  2622 non-null   object
 12  code                           2622 non-null   object
 13  корневая_сделка                135 non-null    object
 14  номер_2-го_сертификата         82 non-null     object
 15  сертификат_на_фотографа        16 non-null     object
 16  сертификат_на_тренера          97 non-null     object
 17  статус_погашения               1048 non-null   object
 18  card_used_date                 441 non-null    datetime64[ns]
dtypes: datetime64[ns](3), float64(4), int64(2), object(10)
memory usage: 389.3+ KB

In [29]:
df_amo_temp.head()

,amo_id,этап_сделки,бюджет,дата_создания_сделки,sale_date,delivery_price,стоимость_доставки,products,price,subtotal,выручка_от_клиента,направление_(вид_сертификата),code,корневая_сделка,номер_2-го_сертификата,сертификат_на_фотографа,сертификат_на_тренера,статус_погашения,card_used_date
0,23400119,Успешно реализовано,5000,2023-01-02 16:00:55,2023-01-02 16:08:00,0.0,NaN,"Снегоходы (Варианты: 1 снежик на 1 час, Бумажн...",5000.0,5000.0,5000,Снегоходы,VSN1X 2438352,NaN,NaN,NaN,NaN,Погашен,2023-06-02
1,23400461,Успешно реализовано,4500,2023-01-02 18:01:25,2023-01-02 18:10:00,NaN,NaN,Полет на параплане (Варианты: 1 полет с инстру...,4500.0,4500.0,4500,Параплан,P1G 251473,NaN,NaN,NaN,NaN,NaN,NaT
2,23400807,Успешно реализовано,9000,2023-01-02 20:48:09,2023-01-03 10:18:00,0.0,NaN,"Снегоходы (Варианты: 2 снежика на 1 час, Бумаж...",9000.0,9000.0,9000,Снегоходы,VSN2X 2497270,NaN,NaN,NaN,NaN,Погашен,2023-11-02
3,23401947,Успешно реализовано,12345,2023-01-03 11:35:11,2023-01-03 12:19:00,0.0,NaN,Подарочный сертификат на 12 345 рублей - 1x123...,12345.0,12345.0,12345,Универсальный Мосвейк 12345,VW&F_2421026,NaN,NaN,NaN,NaN,Погашен,NaT
4,23403789,Успешно реализовано,5000,2023-01-03 21:56:43,2023-01-04 15:19:00,NaN,NaN,Квадроциклы (Варианты: 2 квадрика на 1 час без...,9000.0,9000.0,5000,Квадроциклы,KVP1X1 138834,NaN,VKV2X1_2415531DIZ,NaN,NaN,Погашен,NaT

Определение разделителей в поле **code**

In [30]:
cc = df_amo_temp['code'].unique()

In [31]:
set_cc = set()

In [32]:
for el in cc:
    set_cc.update(el)

In [33]:
print(set_cc)

{'1', 'A', '3', 'X', 'E', 'M', 'F', 'D', 'Т', '(', 'B', 'P', 'I', '8', 'Н', 'К', ')', 'N', 'L', 'S', 'С', 'V', 'W', 'K', 'J', 'И', 'М', 'В', 'А', 'C', '0', 'G', '_', 'U', '\xa0', 'Y', '5', 'Р', '&', '7', 'H', ' ', '4', 'T', 'R', '9', '6', '2'}

В качестве разделителей используются символы ' ', '_', '\xa0' и их комбинации

В значениях поля code имеются символы кириллицы

Замена кириллицы на латинские символы

In [34]:
alf_ciril = 'Е Т О Р А Н К Х С В М'.split()
alf_latin = 'E T O P A H K X C B M'.split()

In [35]:
alf_ciril

['Е', 'Т', 'О', 'Р', 'А', 'Н', 'К', 'Х', 'С', 'В', 'М']

In [36]:
def replace_cirillic_latin(row):
    v = row['code']
    new_v = ''
    for i in range(len(v)):
        simv = v[i]
        if simv in alf_ciril:
            pos = alf_ciril.index(simv)
            simv = alf_latin[pos]
        new_v += simv
    return new_v

In [37]:
df_amo_temp['code'] = df_amo_temp.apply(replace_cirillic_latin,axis=1)

Замена всех возможных разделителей на '_'

In [38]:
#df_amo_temp['code'] = df_amo_temp['code'].str.replace('[^_ \xa0]+([ _\xa0]+)\d+','_',regex=True)
df_amo_temp.replace(r'([ _\xa0]+)',r'_',regex=True,inplace=True)

In [39]:
df_amo_temp.head()

,amo_id,этап_сделки,бюджет,дата_создания_сделки,sale_date,delivery_price,стоимость_доставки,products,price,subtotal,выручка_от_клиента,направление_(вид_сертификата),code,корневая_сделка,номер_2-го_сертификата,сертификат_на_фотографа,сертификат_на_тренера,статус_погашения,card_used_date
0,23400119,Успешно_реализовано,5000,2023-01-02 16:00:55,2023-01-02 16:08:00,0.0,NaN,"Снегоходы_(Варианты:_1_снежик_на_1_час,_Бумажн...",5000.0,5000.0,5000,Снегоходы,VSN1X_2438352,NaN,NaN,NaN,NaN,Погашен,2023-06-02
1,23400461,Успешно_реализовано,4500,2023-01-02 18:01:25,2023-01-02 18:10:00,NaN,NaN,Полет_на_параплане_(Варианты:_1_полет_с_инстру...,4500.0,4500.0,4500,Параплан,P1G_251473,NaN,NaN,NaN,NaN,NaN,NaT
2,23400807,Успешно_реализовано,9000,2023-01-02 20:48:09,2023-01-03 10:18:00,0.0,NaN,"Снегоходы_(Варианты:_2_снежика_на_1_час,_Бумаж...",9000.0,9000.0,9000,Снегоходы,VSN2X_2497270,NaN,NaN,NaN,NaN,Погашен,2023-11-02
3,23401947,Успешно_реализовано,12345,2023-01-03 11:35:11,2023-01-03 12:19:00,0.0,NaN,Подарочный_сертификат_на_12_345_рублей_-_1x123...,12345.0,12345.0,12345,Универсальный_Мосвейк_12345,VW&F_2421026,NaN,NaN,NaN,NaN,Погашен,NaT
4,23403789,Успешно_реализовано,5000,2023-01-03 21:56:43,2023-01-04 15:19:00,NaN,NaN,Квадроциклы_(Варианты:_2_квадрика_на_1_час_без...,9000.0,9000.0,5000,Квадроциклы,KVP1X1_138834,NaN,VKV2X1_2415531DIZ,NaN,NaN,Погашен,NaT

Формирование новых столбцов в базе АМО

In [40]:
df_amo_temp['id'] = ''

In [41]:
df_amo_temp['prefix'] = df_amo_temp['code'].apply(lambda x: re.split('[ _]',x)[0] if ' ' in x or '_' in x else '')

In [42]:
df_amo_temp['number'] = df_amo_temp['code'].apply(lambda x: re.split('[ _]',x)[1] if ' ' in x or '_' in x else '')

In [43]:
df_amo_temp.head(10)

,amo_id,этап_сделки,бюджет,дата_создания_сделки,sale_date,delivery_price,стоимость_доставки,products,price,subtotal,выручка_от_клиента,направление_(вид_сертификата),code,корневая_сделка,номер_2-го_сертификата,сертификат_на_фотографа,сертификат_на_тренера,статус_погашения,card_used_date,id,prefix,number
0,23400119,Успешно_реализовано,5000,2023-01-02 16:00:55,2023-01-02 16:08:00,0.0,NaN,"Снегоходы_(Варианты:_1_снежик_на_1_час,_Бумажн...",5000.0,5000.0,5000,Снегоходы,VSN1X_2438352,NaN,NaN,NaN,NaN,Погашен,2023-06-02,,VSN1X,2438352
1,23400461,Успешно_реализовано,4500,2023-01-02 18:01:25,2023-01-02 18:10:00,NaN,NaN,Полет_на_параплане_(Варианты:_1_полет_с_инстру...,4500.0,4500.0,4500,Параплан,P1G_251473,NaN,NaN,NaN,NaN,NaN,NaT,,P1G,251473
2,23400807,Успешно_реализовано,9000,2023-01-02 20:48:09,2023-01-03 10:18:00,0.0,NaN,"Снегоходы_(Варианты:_2_снежика_на_1_час,_Бумаж...",9000.0,9000.0,9000,Снегоходы,VSN2X_2497270,NaN,NaN,NaN,NaN,Погашен,2023-11-02,,VSN2X,2497270
3,23401947,Успешно_реализовано,12345,2023-01-03 11:35:11,2023-01-03 12:19:00,0.0,NaN,Подарочный_сертификат_на_12_345_рублей_-_1x123...,12345.0,12345.0,12345,Универсальный_Мосвейк_12345,VW&F_2421026,NaN,NaN,NaN,NaN,Погашен,NaT,,VW&F,2421026
4,23403789,Успешно_реализовано,5000,2023-01-03 21:56:43,2023-01-04 15:19:00,NaN,NaN,Квадроциклы_(Варианты:_2_квадрика_на_1_час_без...,9000.0,9000.0,5000,Квадроциклы,KVP1X1_138834,NaN,VKV2X1_2415531DIZ,NaN,NaN,Погашен,NaT,,KVP1X1,138834
5,23408953,Успешно_реализовано,27000,2023-01-05 10:02:22,2023-01-05 11:31:00,NaN,NaN,Заезд_на_спорткаре_по_гоночной_трассе_(Вариант...,27000.0,27000.0,27000,Авто_Заезд_на_спорткаре,VRCV_2477875,NaN,NaN,NaN,NaN,NaN,NaT,,VRCV,2477875
6,23409993,Успешно_реализовано,3500,2023-01-05 13:43:49,2023-01-06 08:06:00,NaN,NaN,"Вейк_в_бассейне_(Варианты:_Start_Up,_Бумажный_...",3500.0,3500.0,3500,Вейк-парк_крытый,VGR1_2480017,NaN,NaN,NaN,NaN,NaN,NaT,,VGR1,2480017
7,23409837,Успешно_реализовано,7000,2023-01-05 13:57:46,2023-01-05 14:41:00,NaN,NaN,"Зимний_кайтинг_(Варианты:_2_часа_для_одного,_Б...",7000.0,7000.0,7000,Сноукайтинг,VSKT1_2426359,NaN,NaN,NaN,NaN,NaN,NaT,,VSKT1,2426359
8,23410089,Успешно_реализовано,15500,2023-01-05 14:17:46,2023-01-12 13:33:00,500.0,NaN,Вертолет_Robinson_R44_(Варианты:_20_минут_полё...,15500.0,15000.0,15500,Авиа_Вертолет,RB20_155687,NaN,NaN,NaN,NaN,Погашен,2023-03-07,,RB20,155687
9,23411393,Успешно_реализовано,8300,2023-01-05 19:46:14,2023-01-15 17:28:00,500.0,NaN,Аэротруба_(Варианты:_4_минуты_полёта_(для_1_че...,8300.0,7800.0,8300,Аэротруба,AT4_127813,NaN,NaN,NaN,NaN,Погашен,2023-08-10,,AT4,127813

In [44]:
prefix_amo = list(df_amo_temp['prefix'].unique())
prefix_amo.sort()
prefix_amo = prefix_amo[1:]

In [45]:
print(prefix_amo)

['AC60', 'AT10', 'AT15', 'AT4', 'AT4K', 'AT6', 'AT6K', 'BF180', 'BF40', 'BF90', 'BG', 'BGH', 'CS20', 'CS30', 'CS40', 'CS60', 'CW1', 'CW2', 'DRC2H', 'DT230', 'DT240', 'DT30', 'DT40', 'DT60', 'EB1X', 'EB2X', 'ED3H', 'EDC', 'EF30', 'EFL30', 'EFL60', 'ES130', 'F1', 'GC1', 'GC2', 'GR1', 'GR1X1', 'GR2', 'GU', 'GU2', 'HB20', 'HB30', 'KA2', 'KA4', 'KA6', 'KAT', 'KAT2', 'KR2', 'KR4', 'KS', 'KS2', 'KV1X1', 'KV2X1', 'KVP1X1', 'KVP2X1', 'LL1H', 'LL2H', 'MF', 'MF20', 'MF30', 'MF60', 'MT', 'MT2', 'MT5', 'MTT', 'P1', 'P1G', 'P1P', 'P2', 'P2G', 'PB', 'PB2', 'PB2X', 'PPP', 'PR20', 'PR30', 'PR40', 'PR60', 'PS', 'RB15', 'RB20', 'RB30', 'RC', 'RCV', 'RJ', 'RJ2', 'RTV', 'RXV', 'S', 'S2', 'SC', 'SC7', 'SG7', 'SH', 'SH2', 'SHH', 'SKI40', 'SKIN60', 'SKT1', 'SKT2', 'SKV', 'SN1X', 'SN1X1', 'SN2X', 'SN2X1', 'SP', 'SP2', 'ST', 'SU24', 'SU60', 'UN', 'VAC30', 'VAC60', 'VAT10', 'VAT15', 'VAT30', 'VAT4', 'VAT4K', 'VAT6', 'VAT6K', 'VBF180', 'VBF40', 'VBF90', 'VBG', 'VBGH', 'VBGK', 'VBGKH', 'VCS20', 'VCS30', 'VCS40', 'VCS60', 'VCW1', 'VCW1T', 'VCW2', 'VCW2T', 'VDRC2H', 'VDT30', 'VDT40', 'VDT60', 'VDT62', 'VDTM', 'VEB1X', 'VEB2X', 'VED3H', 'VEF30', 'VEF60', 'VEFL', 'VEFL30', 'VFR', 'VFR2', 'VGC1', 'VGC2', 'VGR1', 'VGR2', 'VGU', 'VGU2', 'VHB20', 'VHB30', 'VHY30', 'VHY30T', 'VHY60', 'VHY60T30', 'VKA2', 'VKA4', 'VKA6', 'VKAT', 'VKAT2', 'VKAT4', 'VKV1X', 'VKV1X1', 'VKV2X1', 'VKVP1X', 'VKVP1X1', 'VKVP2X1', 'VLB1X', 'VLL1H', 'VLL2H', 'VLL3H', 'VMB', 'VMB2', 'VMB2X', 'VMF20', 'VMF30', 'VMF60', 'VMT', 'VMT2', 'VMT5', 'VMTT', 'VPB', 'VPP', 'VPP2', 'VPP2P', 'VPPP', 'VPPS', 'VPR20', 'VPR30', 'VPR60', 'VRC', 'VRCV', 'VRJ', 'VRJ1X', 'VRJ2', 'VRJ2X', 'VRTV', 'VS', 'VS2', 'VSC10', 'VSC7', 'VSG7', 'VSH', 'VSH2', 'VSK', 'VSK2', 'VSK2V', 'VSKI40', 'VSKI60', 'VSKT', 'VSKT1', 'VSKV', 'VSN1X', 'VSN2X', 'VSN2X1', 'VSP', 'VSP2', 'VST', 'VSU24', 'VSU60', 'VSUT', 'VSVH', 'VUN', 'VW&F', 'VWF', 'VWP15', 'VWP60', 'VWPA', 'VWS20', 'VWS20T', 'VWS30', 'VWS30T', 'VWS40', 'VWS40T', 'VWS60', 'VWS60T', 'VWSN40', 'VWSN40T', 'VWSN60', 'VWSN60T', 'VWTF', 'VWTF2', 'VYAS', 'VYEP', 'W&F', 'WF', 'WP15', 'WP2H', 'WP60', 'WS20', 'WS30', 'WS30T', 'WS40', 'WS60', 'WSN40', 'WSN60', 'WTF2', 'WTF3', 'WVS30', 'YEP']

Некоторые значения в code без разделителей, потому не выделились prefix и number

Отделение prefix от number

In [46]:
def separate_prefix_number(row):
    pl = prefix_amo
    v = row['code']
    if row['prefix'] == '':
        amo_id = row['amo_id']
        
        for el in pl:
            if el in row['code']:
                try:
                    v = el + '_' + row['code'][len(el):] 
                except:
                    pass
                finally:
                    return v
    return v

In [47]:
df_amo_temp['code'] = df_amo_temp.apply(separate_prefix_number,axis=1)

In [48]:
df_amo_temp.head(5)

,amo_id,этап_сделки,бюджет,дата_создания_сделки,sale_date,delivery_price,стоимость_доставки,products,price,subtotal,выручка_от_клиента,направление_(вид_сертификата),code,корневая_сделка,номер_2-го_сертификата,сертификат_на_фотографа,сертификат_на_тренера,статус_погашения,card_used_date,id,prefix,number
0,23400119,Успешно_реализовано,5000,2023-01-02 16:00:55,2023-01-02 16:08:00,0.0,NaN,"Снегоходы_(Варианты:_1_снежик_на_1_час,_Бумажн...",5000.0,5000.0,5000,Снегоходы,VSN1X_2438352,NaN,NaN,NaN,NaN,Погашен,2023-06-02,,VSN1X,2438352
1,23400461,Успешно_реализовано,4500,2023-01-02 18:01:25,2023-01-02 18:10:00,NaN,NaN,Полет_на_параплане_(Варианты:_1_полет_с_инстру...,4500.0,4500.0,4500,Параплан,P1G_251473,NaN,NaN,NaN,NaN,NaN,NaT,,P1G,251473
2,23400807,Успешно_реализовано,9000,2023-01-02 20:48:09,2023-01-03 10:18:00,0.0,NaN,"Снегоходы_(Варианты:_2_снежика_на_1_час,_Бумаж...",9000.0,9000.0,9000,Снегоходы,VSN2X_2497270,NaN,NaN,NaN,NaN,Погашен,2023-11-02,,VSN2X,2497270
3,23401947,Успешно_реализовано,12345,2023-01-03 11:35:11,2023-01-03 12:19:00,0.0,NaN,Подарочный_сертификат_на_12_345_рублей_-_1x123...,12345.0,12345.0,12345,Универсальный_Мосвейк_12345,VW&F_2421026,NaN,NaN,NaN,NaN,Погашен,NaT,,VW&F,2421026
4,23403789,Успешно_реализовано,5000,2023-01-03 21:56:43,2023-01-04 15:19:00,NaN,NaN,Квадроциклы_(Варианты:_2_квадрика_на_1_час_без...,9000.0,9000.0,5000,Квадроциклы,KVP1X1_138834,NaN,VKV2X1_2415531DIZ,NaN,NaN,Погашен,NaT,,KVP1X1,138834

In [49]:
df_amo_temp.loc[df_amo_temp['prefix'] == '','prefix'] = \
df_amo_temp['code'].apply(lambda x: re.split('[_]',x)[0] if ' ' in x or '_' in x else '')

In [50]:
df_amo_temp.loc[df_amo_temp['number'] == '','number'] = \
df_amo_temp['code'].apply(lambda x: re.split('[_]',x)[1] if ' ' in x or '_' in x else '')

In [51]:
df_amo_temp.head(5)

,amo_id,этап_сделки,бюджет,дата_создания_сделки,sale_date,delivery_price,стоимость_доставки,products,price,subtotal,выручка_от_клиента,направление_(вид_сертификата),code,корневая_сделка,номер_2-го_сертификата,сертификат_на_фотографа,сертификат_на_тренера,статус_погашения,card_used_date,id,prefix,number
0,23400119,Успешно_реализовано,5000,2023-01-02 16:00:55,2023-01-02 16:08:00,0.0,NaN,"Снегоходы_(Варианты:_1_снежик_на_1_час,_Бумажн...",5000.0,5000.0,5000,Снегоходы,VSN1X_2438352,NaN,NaN,NaN,NaN,Погашен,2023-06-02,,VSN1X,2438352
1,23400461,Успешно_реализовано,4500,2023-01-02 18:01:25,2023-01-02 18:10:00,NaN,NaN,Полет_на_параплане_(Варианты:_1_полет_с_инстру...,4500.0,4500.0,4500,Параплан,P1G_251473,NaN,NaN,NaN,NaN,NaN,NaT,,P1G,251473
2,23400807,Успешно_реализовано,9000,2023-01-02 20:48:09,2023-01-03 10:18:00,0.0,NaN,"Снегоходы_(Варианты:_2_снежика_на_1_час,_Бумаж...",9000.0,9000.0,9000,Снегоходы,VSN2X_2497270,NaN,NaN,NaN,NaN,Погашен,2023-11-02,,VSN2X,2497270
3,23401947,Успешно_реализовано,12345,2023-01-03 11:35:11,2023-01-03 12:19:00,0.0,NaN,Подарочный_сертификат_на_12_345_рублей_-_1x123...,12345.0,12345.0,12345,Универсальный_Мосвейк_12345,VW&F_2421026,NaN,NaN,NaN,NaN,Погашен,NaT,,VW&F,2421026
4,23403789,Успешно_реализовано,5000,2023-01-03 21:56:43,2023-01-04 15:19:00,NaN,NaN,Квадроциклы_(Варианты:_2_квадрика_на_1_час_без...,9000.0,9000.0,5000,Квадроциклы,KVP1X1_138834,NaN,VKV2X1_2415531DIZ,NaN,NaN,Погашен,NaT,,KVP1X1,138834

In [52]:
#df_amo_temp = df_amo_temp.loc[df_amo_temp['prefix'] != '']

In [53]:
df_amo_temp['card_type'] ='paper'

In [54]:
df_amo_temp['series'] =''

In [55]:
df_amo_temp['design_type'] = 'design1'

In [56]:
df_amo_temp['status'] = ''

In [57]:
df_amo_temp['stock_status'] = ''

In [58]:
df_amo_temp['sale_price'] = 0

In [59]:
df_amo_temp['expiry_date'] = ''

In [60]:
df_amo_temp['created_at'] = ''

In [61]:
df_amo_temp['updated_at'] = ''

In [62]:
df_amo_temp['deleted_at'] = ''

In [63]:
df_amo_temp.loc[(df_amo_temp['card_used_date'].notna()) |  (df_amo_temp['статус_погашения'] == 'Погашен'),'status'] = 'sold_used'

In [64]:
df_amo_temp.query('status=="sold_used"').head()

,amo_id,этап_сделки,бюджет,дата_создания_сделки,sale_date,delivery_price,стоимость_доставки,products,price,subtotal,выручка_от_клиента,направление_(вид_сертификата),code,корневая_сделка,номер_2-го_сертификата,сертификат_на_фотографа,сертификат_на_тренера,статус_погашения,card_used_date,id,prefix,number,card_type,series,design_type,status,stock_status,sale_price,expiry_date,created_at,updated_at,deleted_at
0,23400119,Успешно_реализовано,5000,2023-01-02 16:00:55,2023-01-02 16:08:00,0.0,NaN,"Снегоходы_(Варианты:_1_снежик_на_1_час,_Бумажн...",5000.0,5000.0,5000,Снегоходы,VSN1X_2438352,NaN,NaN,NaN,NaN,Погашен,2023-06-02,,VSN1X,2438352,paper,,design1,sold_used,,0,,,,
2,23400807,Успешно_реализовано,9000,2023-01-02 20:48:09,2023-01-03 10:18:00,0.0,NaN,"Снегоходы_(Варианты:_2_снежика_на_1_час,_Бумаж...",9000.0,9000.0,9000,Снегоходы,VSN2X_2497270,NaN,NaN,NaN,NaN,Погашен,2023-11-02,,VSN2X,2497270,paper,,design1,sold_used,,0,,,,
3,23401947,Успешно_реализовано,12345,2023-01-03 11:35:11,2023-01-03 12:19:00,0.0,NaN,Подарочный_сертификат_на_12_345_рублей_-_1x123...,12345.0,12345.0,12345,Универсальный_Мосвейк_12345,VW&F_2421026,NaN,NaN,NaN,NaN,Погашен,NaT,,VW&F,2421026,paper,,design1,sold_used,,0,,,,
4,23403789,Успешно_реализовано,5000,2023-01-03 21:56:43,2023-01-04 15:19:00,NaN,NaN,Квадроциклы_(Варианты:_2_квадрика_на_1_час_без...,9000.0,9000.0,5000,Квадроциклы,KVP1X1_138834,NaN,VKV2X1_2415531DIZ,NaN,NaN,Погашен,NaT,,KVP1X1,138834,paper,,design1,sold_used,,0,,,,
8,23410089,Успешно_реализовано,15500,2023-01-05 14:17:46,2023-01-12 13:33:00,500.0,NaN,Вертолет_Robinson_R44_(Варианты:_20_минут_полё...,15500.0,15000.0,15500,Авиа_Вертолет,RB20_155687,NaN,NaN,NaN,NaN,Погашен,2023-03-07,,RB20,155687,paper,,design1,sold_used,,0,,,,

Обработка **sale_price**

In [65]:
df_amo_temp['номер_2-го_сертификата'].notna().sum()

82

In [66]:
df_amo_temp['сертификат_на_тренера'].notna().sum()

97

In [67]:
df_amo_temp['сертификат_на_фотографа'].notna().sum()

16

Если в сделке 1 товар и сделка не имеет производных сделок, то использовать значение поля SUBTOTAL

In [68]:
df_amo_temp.loc[(df_amo_temp['номер_2-го_сертификата'].isna()) & \
                (df_amo_temp['сертификат_на_тренера'].isna()) &\
                (df_amo_temp['сертификат_на_фотографа'].isna()) &\
                (df_amo_temp['корневая_сделка'].isna()),\
                'sale_price'] = df_amo_temp['subtotal']

In [69]:
df_amo_temp.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2622 entries, 0 to 2621
Data columns (total 32 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   amo_id                         2622 non-null   int64
 1   этап_сделки                    2622 non-null   object
 2   бюджет                         2622 non-null   int64
 3   дата_создания_сделки           2622 non-null   datetime64[ns]
 4   sale_date                      2622 non-null   datetime64[ns]
 5   delivery_price                 1647 non-null   float64
 6   стоимость_доставки             9 non-null      float64
 7   products                       2452 non-null   object
 8   price                          2452 non-null   float64
 9   subtotal                       2452 non-null   float64
 10  выручка_от_клиента             2498 non-null   object
 11  направление_(вид_сертификата)  2622 non-null   object
 12  code                           2622 non-null   object
 13  корневая_сделка                135 non-null    object
 14  номер_2-го_сертификата         82 non-null     object
 15  сертификат_на_фотографа        16 non-null     object
 16  сертификат_на_тренера          97 non-null     object
 17  статус_погашения               1048 non-null   object
 18  card_used_date                 441 non-null    datetime64[ns]
 19  id                             2622 non-null   object
 20  prefix                         2622 non-null   object
 21  number                         2622 non-null   object
 22  card_type                      2622 non-null   object
 23  series                         2622 non-null   object
 24  design_type                    2622 non-null   object
 25  status                         2622 non-null   object
 26  stock_status                   2622 non-null   object
 27  sale_price                     2585 non-null   float64
 28  expiry_date                    2622 non-null   object
 29  created_at                     2622 non-null   object
 30  updated_at                     2622 non-null   object
 31  deleted_at                     2622 non-null   object
dtypes: datetime64[ns](3), float64(5), int64(2), object(22)
memory usage: 655.6+ KB

In [70]:
df_amo_temp.head()

,amo_id,этап_сделки,бюджет,дата_создания_сделки,sale_date,delivery_price,стоимость_доставки,products,price,subtotal,выручка_от_клиента,направление_(вид_сертификата),code,корневая_сделка,номер_2-го_сертификата,сертификат_на_фотографа,сертификат_на_тренера,статус_погашения,card_used_date,id,prefix,number,card_type,series,design_type,status,stock_status,sale_price,expiry_date,created_at,updated_at,deleted_at
0,23400119,Успешно_реализовано,5000,2023-01-02 16:00:55,2023-01-02 16:08:00,0.0,NaN,"Снегоходы_(Варианты:_1_снежик_на_1_час,_Бумажн...",5000.0,5000.0,5000,Снегоходы,VSN1X_2438352,NaN,NaN,NaN,NaN,Погашен,2023-06-02,,VSN1X,2438352,paper,,design1,sold_used,,5000.0,,,,
1,23400461,Успешно_реализовано,4500,2023-01-02 18:01:25,2023-01-02 18:10:00,NaN,NaN,Полет_на_параплане_(Варианты:_1_полет_с_инстру...,4500.0,4500.0,4500,Параплан,P1G_251473,NaN,NaN,NaN,NaN,NaN,NaT,,P1G,251473,paper,,design1,,,4500.0,,,,
2,23400807,Успешно_реализовано,9000,2023-01-02 20:48:09,2023-01-03 10:18:00,0.0,NaN,"Снегоходы_(Варианты:_2_снежика_на_1_час,_Бумаж...",9000.0,9000.0,9000,Снегоходы,VSN2X_2497270,NaN,NaN,NaN,NaN,Погашен,2023-11-02,,VSN2X,2497270,paper,,design1,sold_used,,9000.0,,,,
3,23401947,Успешно_реализовано,12345,2023-01-03 11:35:11,2023-01-03 12:19:00,0.0,NaN,Подарочный_сертификат_на_12_345_рублей_-_1x123...,12345.0,12345.0,12345,Универсальный_Мосвейк_12345,VW&F_2421026,NaN,NaN,NaN,NaN,Погашен,NaT,,VW&F,2421026,paper,,design1,sold_used,,12345.0,,,,
4,23403789,Успешно_реализовано,5000,2023-01-03 21:56:43,2023-01-04 15:19:00,NaN,NaN,Квадроциклы_(Варианты:_2_квадрика_на_1_час_без...,9000.0,9000.0,5000,Квадроциклы,KVP1X1_138834,NaN,VKV2X1_2415531DIZ,NaN,NaN,Погашен,NaT,,KVP1X1,138834,paper,,design1,sold_used,,0.0,,,,

Обработка поля **status**

In [71]:
df_amo_temp.loc[(df_amo_temp['card_used_date'].notna()) |  \
                (df_amo_temp['статус_погашения'] == 'Погашен'),'status'] = 'sold_used'

База АМО без prefix

In [72]:
df_amo_without_prefix = df_amo_temp.loc[df_amo_temp['prefix'] == '']

In [73]:
df_amo_without_prefix.shape

(7, 32)

Для дальнейшей работы потребуется наличие prefix

In [74]:
df_amo_without_prefix.head(10)

,amo_id,этап_сделки,бюджет,дата_создания_сделки,sale_date,delivery_price,стоимость_доставки,products,price,subtotal,выручка_от_клиента,направление_(вид_сертификата),code,корневая_сделка,номер_2-го_сертификата,сертификат_на_фотографа,сертификат_на_тренера,статус_погашения,card_used_date,id,prefix,number,card_type,series,design_type,status,stock_status,sale_price,expiry_date,created_at,updated_at,deleted_at
20,23443225,Успешно_реализовано,0,2023-01-10 18:29:34,2023-01-10 18:29:00,NaN,NaN,NaN,NaN,NaN,NaN,Вейк-парк,VWP62133,NaN,NaN,NaN,NaN,NaN,NaT,,,,paper,,design1,,,NaN,,,,
29,23456591,Успешно_реализовано,10500,2023-01-12 17:38:01,2023-01-14 05:22:00,500.0,NaN,Подарочный_сертификатв_вейк-парк_(Выберите_тип...,10500.0,10000.0,10500,Вейк-парк,2WP89087,NaN,NaN,NaN,NaN,NaN,NaT,,,,paper,,design1,,,10000.0,,,,
178,23691835,Успешно_реализовано,5000,2023-02-16 20:33:34,2023-02-17 23:16:00,350.0,NaN,Полет_на_параплане_(Варианты:_1_полет_с_инстру...,4850.0,4500.0,5000,Параплан,80688,NaN,NaN,NaN,NaN,NaN,NaT,,,,paper,,design1,,,4500.0,,,,
464,23959571,Успешно_реализовано,5600,2023-03-28 19:29:43,2023-03-28 22:01:00,NaN,NaN,Аэротруба_(Варианты:_6_минут_полёта_(для_1-2_ч...,5600.0,5600.0,5600,Аэротруба,VAT37112,NaN,NaN,NaN,NaN,NaN,NaT,,,,paper,,design1,,,5600.0,,,,
565,24084549,Успешно_реализовано,5700,2023-04-15 21:38:45,2023-05-01 16:47:00,500.0,NaN,катание_на_картинге_(Варианты:_40_минут_катани...,5700.0,5200.0,NaN,Картинг,75453,NaN,NaN,NaN,NaN,NaN,NaT,,,,paper,,design1,,,5200.0,,,,
696,24217649,Успешно_реализовано,2000,2023-05-04 13:54:40,2023-05-04 14:24:00,0.0,NaN,Подарочный_сертификатна_сап-сёрфинг_(Выберите_...,2000.0,2000.0,2000,САП-сёрф,29510,NaN,NaN,NaN,NaN,NaN,NaT,,,,paper,,design1,,,2000.0,,,,
1644,24816735,Успешно_реализовано,0,2023-07-15 09:04:30,2023-07-17 12:46:00,NaN,NaN,NaN,NaN,NaN,0,Багги,19529,#24815607,BG_220721,NaN,NaN,NaN,NaT,,,,paper,,design1,,,0.0,,,,

База АМО c prefix

In [75]:
df_amo_temp = df_amo_temp.loc[df_amo_temp['prefix'] != '']

In [76]:
df_amo_temp['card_type'] = df_amo_temp['prefix'].apply(lambda x: 'electronic' if x[0] == 'V' else 'paper')

In [77]:
df_amo_temp.query('amo_id==26139623').head()

,amo_id,этап_сделки,бюджет,дата_создания_сделки,sale_date,delivery_price,стоимость_доставки,products,price,subtotal,выручка_от_клиента,направление_(вид_сертификата),code,корневая_сделка,номер_2-го_сертификата,сертификат_на_фотографа,сертификат_на_тренера,статус_погашения,card_used_date,id,prefix,number,card_type,series,design_type,status,stock_status,sale_price,expiry_date,created_at,updated_at,deleted_at
2611,26139623,Успешно_реализовано,11450,2023-11-28 13:06:38,2023-12-02 22:29:00,450.0,NaN,"Снегоходы_(Варианты:_1_снежик_на_1_час,_Бумажн...",11450.0,11000.0,11450,Снегоходы,SN1X_199622,NaN,SN1X_191480,NaN,NaN,NaN,NaT,,SN1X,199622,paper,,design1,,,0.0,,,,

In [78]:
df_amo_temp.query('корневая_сделка.notna()')

,amo_id,этап_сделки,бюджет,дата_создания_сделки,sale_date,delivery_price,стоимость_доставки,products,price,subtotal,выручка_от_клиента,направление_(вид_сертификата),code,корневая_сделка,номер_2-го_сертификата,сертификат_на_фотографа,сертификат_на_тренера,статус_погашения,card_used_date,id,prefix,number,card_type,series,design_type,status,stock_status,sale_price,expiry_date,created_at,updated_at,deleted_at
31,23459939,Успешно_реализовано,0,2023-01-13 11:41:15,2023-01-13 11:42:00,NaN,NaN,NaN,NaN,NaN,NaN,Искусственная_волна,VCW1T_2437849,#23459729,NaN,NaN,NaN,Погашен,2023-05-06,,VCW1T,2437849,electronic,,design1,sold_used,,0.0,,,,
38,23466787,Успешно_реализовано,0,2023-01-14 18:11:28,2023-01-18 10:48:00,NaN,NaN,NaN,NaN,NaN,NaN,Снегоходы,S_N2X226233,1715029001,NaN,NaN,NaN,Погашен,2023-03-03,,S,N2X226233,paper,,design1,sold_used,,0.0,,,,
103,23588587,Успешно_реализовано,0,2023-01-31 14:39:58,2023-01-31 14:40:00,NaN,NaN,NaN,NaN,NaN,NaN,Мото_Мотокросс,MT2_159461,#23586703,NaN,NaN,NaN,Погашен,2023-03-05,,MT2,159461,paper,,design1,sold_used,,0.0,,,,
104,23590237,Успешно_реализовано,8000,2023-01-31 18:10:26,2023-02-01 00:35:00,NaN,NaN,NaN,NaN,NaN,8000,Авто_Дрифт,VDRC2H_2598560,#23514709,NaN,NaN,NaN,NaN,NaT,,VDRC2H,2598560,electronic,,design1,,,0.0,,,,
126,23627015,Успешно_реализовано,0,2023-02-06 16:32:58,2023-02-07 18:19:00,NaN,NaN,NaN,NaN,NaN,NaN,Мото_Дрифт-трайк,DT60_282777,#23624295,NaN,NaN,NaN,Погашен,NaT,,DT60,282777,paper,,design1,sold_used,,0.0,,,,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2505,25885815,Успешно_реализовано,0,2023-11-03 08:49:52,2023-11-03 11:00:00,NaN,NaN,NaN,NaN,NaN,NaN,Тир._Стрельба_из_боевого_оружия,VGU_4243962,#25885733,NaN,NaN,NaN,NaN,NaT,,VGU,4243962,electronic,,design1,,,0.0,,,,
2528,25939051,Успешно_реализовано,0,2023-11-09 16:31:32,2023-11-09 16:51:00,NaN,NaN,NaN,NaN,NaN,0,Багги,VBG_4327290,#25938825,NaN,NaN,NaN,NaN,NaT,,VBG,4327290,electronic,,design1,,,0.0,,,,
2552,25988317,Успешно_реализовано,0,2023-11-14 17:20:26,2023-11-14 17:29:00,NaN,NaN,NaN,NaN,NaN,0,Картинг,VKAT_4319612,#25988183,NaN,NaN,NaN,NaN,NaT,,VKAT,4319612,electronic,,design1,,,0.0,,,,
2580,26042895,Успешно_реализовано,0,2023-11-19 10:36:50,2023-11-20 12:51:00,NaN,NaN,NaN,NaN,NaN,NaN,Картинг,KAT_154768,#26042871,NaN,NaN,NaN,NaN,NaT,,KAT,154768,paper,,design1,,,0.0,,,,
2612,26139797,Успешно_реализовано,0,2023-11-28 13:18:52,2023-12-02 22:30:00,NaN,NaN,NaN,NaN,NaN,0,Снегоходы,SN1X_184479,#26139623,NaN,NaN,NaN,NaN,NaT,,SN1X,184479,paper,,design1,,,0.0,,,,

Проверка:

In [79]:
pp = df_amo_temp.query('amo_id == 26139797')

In [80]:
pp

,amo_id,этап_сделки,бюджет,дата_создания_сделки,sale_date,delivery_price,стоимость_доставки,products,price,subtotal,выручка_от_клиента,направление_(вид_сертификата),code,корневая_сделка,номер_2-го_сертификата,сертификат_на_фотографа,сертификат_на_тренера,статус_погашения,card_used_date,id,prefix,number,card_type,series,design_type,status,stock_status,sale_price,expiry_date,created_at,updated_at,deleted_at
2612,26139797,Успешно_реализовано,0,2023-11-28 13:18:52,2023-12-02 22:30:00,NaN,NaN,NaN,NaN,NaN,0,Снегоходы,SN1X_184479,#26139623,NaN,NaN,NaN,NaN,NaT,,SN1X,184479,paper,,design1,,,0.0,,,,

Функция для определения sale_price для

In [81]:
def insert_sale111(row):    
    v = row['sale_price']
    if row['sale_price'] == 0:
        amo_id = row['amo_id']
        pr = row['prefix']
        v = 0
        str1 = f'sale_price != 0 & prefix == "{pr}"'
        try:
            v = df_amo_temp.query(str1).iloc[-1]['sale_price']
        except:
            pass
        finally:
            return v
    return v

In [82]:
def insert_sale(row):    
    v = row['sale_price']
    #print(v)
    if row['sale_price'] == 0:
        d = row['дата_создания_сделки']
        amo_id = row['amo_id']
        pr = row['prefix']
        #v = 0
        str1 = f'sale_price != 0 & prefix == "{pr}"'
        try:
            #v = df_amo_temp.query(str1).iloc[-1]['sale_price']
            arr = df_amo_temp.query(str1)    
            arr['diff_date'] = arr['дата_создания_сделки'] - d
            arr = arr.sort_values(by='diff_date',ascending=True)
            arr.reset_index(drop= True , inplace= True)
            v = arr.iloc[0]['sale_price']
        except:
            pass
        finally:
            return v
    return v

In [83]:
df_amo_temp['sale_price'] = df_amo_temp.apply(insert_sale,axis=1)

Проверка:

In [84]:
pp = df_amo_temp.query('amo_id == 26139797')

In [85]:
pp

,amo_id,этап_сделки,бюджет,дата_создания_сделки,sale_date,delivery_price,стоимость_доставки,products,price,subtotal,выручка_от_клиента,направление_(вид_сертификата),code,корневая_сделка,номер_2-го_сертификата,сертификат_на_фотографа,сертификат_на_тренера,статус_погашения,card_used_date,id,prefix,number,card_type,series,design_type,status,stock_status,sale_price,expiry_date,created_at,updated_at,deleted_at
2612,26139797,Успешно_реализовано,0,2023-11-28 13:18:52,2023-12-02 22:30:00,NaN,NaN,NaN,NaN,NaN,0,Снегоходы,SN1X_184479,#26139623,NaN,NaN,NaN,NaN,NaT,,SN1X,184479,paper,,design1,,,5000.0,,,,

sale_price появился

Строки, оставшиеся без sale_price

In [86]:
dd0 = df_amo_temp.query('sale_price == 0').head(10)

In [87]:
dd0.shape

(8, 32)

In [88]:
dd0.head(10)

,amo_id,этап_сделки,бюджет,дата_создания_сделки,sale_date,delivery_price,стоимость_доставки,products,price,subtotal,выручка_от_клиента,направление_(вид_сертификата),code,корневая_сделка,номер_2-го_сертификата,сертификат_на_фотографа,сертификат_на_тренера,статус_погашения,card_used_date,id,prefix,number,card_type,series,design_type,status,stock_status,sale_price,expiry_date,created_at,updated_at,deleted_at
310,23732921,Успешно_реализовано,0,2023-02-24 00:42:33,2023-02-24 00:42:00,NaN,NaN,NaN,NaN,NaN,NaN,Мото_Дрифт-трайк,VDT62_2660855,23732757,NaN,NaN,NaN,NaN,NaT,,VDT62,2660855,electronic,,design1,,,0.0,,,,
427,23908115,Успешно_реализовано,0,2023-03-20 21:14:58,2023-03-22 07:51:00,NaN,NaN,NaN,NaN,NaN,NaN,Аэротруба,AT6K_023008,#23906061,NaN,NaN,NaN,Погашен,NaT,,AT6K,023008,paper,,design1,sold_used,,0.0,,,,
568,24088395,Успешно_реализовано,12400,2023-04-16 20:02:43,2023-04-16 20:16:00,NaN,NaN,Подарочный_сертификатна_водные_лыжи_(Выберите_...,12400.0,12400.0,12400,Водные_лыжи,SKIN60_156264,NaN,NaN,NaN,TR212535,NaN,NaT,,SKIN60,156264,paper,,design1,,,0.0,,,,
1255,24596539,Успешно_реализовано,6800,2023-06-19 17:34:39,2023-06-21 23:01:00,NaN,NaN,Подарочный_сертификатна_вейк_за_катером_(Выбер...,6800.0,6800.0,6800,Вейксёрф_и_вейк_за_катером,ES130_164358,NaN,VWS30T_3324255DIS,NaN,NaN,NaN,NaT,,ES130,164358,paper,,design1,,,0.0,,,,
1288,24614375,Успешно_реализовано,7300,2023-06-21 17:57:54,2023-06-24 10:12:00,0.0,NaN,Подарочный_сертификатна_вейк_за_катером_(Выбер...,6800.0,6800.0,7300,Вейксёрф_и_вейк_за_катером,ES130_112723,NaN,NaN,NaN,TR2_220282,Погашен,2023-08-07,,ES130,112723,paper,,design1,sold_used,,0.0,,,,
1941,25010515,Успешно_реализовано,10950,2023-08-07 13:36:24,2023-08-08 15:50:00,450.0,NaN,Вейк_за_катером_(Варианты:_40_минут_Mastercraf...,10950.0,10500.0,10950,Вейксёрф_и_вейк_за_катером,WSN40_291295,NaN,NaN,NaN,TR2_153199,NaN,NaT,,WSN40,291295,paper,,design1,,,0.0,,,,
2036,25078171,Успешно_реализовано,16000,2023-08-14 17:08:31,2023-08-14 19:41:00,NaN,NaN,Полет_на_параплане_(Варианты:_Курс_«Первый_сам...,16000.0,16000.0,16000,Катер_без_капитана_(Летолодка),VLL3H_4147449,NaN,VPPT_3929836DIS,NaN,NaN,NaN,NaT,,VLL3H,4147449,electronic,,design1,,,0.0,,,,
2054,25090379,Успешно_реализовано,15000,2023-08-16 11:28:47,2023-08-16 12:18:00,0.0,NaN,"Самолёт_Cessna_182_(Варианты:_40_минут_полёта,...",15000.0,15000.0,15000,Мото_Дрифт-трайк,VDT62_4065301,NaN,VCS40_3929966DIS,NaN,NaN,Погашен,2023-01-09,,VDT62,4065301,electronic,,design1,sold_used,,0.0,,,,

Несколько записей так и не получили sale_price

In [89]:
df_amo_temp.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2615 entries, 0 to 2621
Data columns (total 32 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   amo_id                         2615 non-null   int64
 1   этап_сделки                    2615 non-null   object
 2   бюджет                         2615 non-null   int64
 3   дата_создания_сделки           2615 non-null   datetime64[ns]
 4   sale_date                      2615 non-null   datetime64[ns]
 5   delivery_price                 1643 non-null   float64
 6   стоимость_доставки             9 non-null      float64
 7   products                       2447 non-null   object
 8   price                          2447 non-null   float64
 9   subtotal                       2447 non-null   float64
 10  выручка_от_клиента             2493 non-null   object
 11  направление_(вид_сертификата)  2615 non-null   object
 12  code                           2615 non-null   object
 13  корневая_сделка                134 non-null    object
 14  номер_2-го_сертификата         81 non-null     object
 15  сертификат_на_фотографа        16 non-null     object
 16  сертификат_на_тренера          97 non-null     object
 17  статус_погашения               1048 non-null   object
 18  card_used_date                 441 non-null    datetime64[ns]
 19  id                             2615 non-null   object
 20  prefix                         2615 non-null   object
 21  number                         2615 non-null   object
 22  card_type                      2615 non-null   object
 23  series                         2615 non-null   object
 24  design_type                    2615 non-null   object
 25  status                         2615 non-null   object
 26  stock_status                   2615 non-null   object
 27  sale_price                     2571 non-null   float64
 28  expiry_date                    2615 non-null   object
 29  created_at                     2615 non-null   object
 30  updated_at                     2615 non-null   object
 31  deleted_at                     2615 non-null   object
dtypes: datetime64[ns](3), float64(5), int64(2), object(22)
memory usage: 674.2+ KB

Товары с префиксами, которые отсутствуют в Списке категорий

In [90]:
print(prefix_amo)

['AC60', 'AT10', 'AT15', 'AT4', 'AT4K', 'AT6', 'AT6K', 'BF180', 'BF40', 'BF90', 'BG', 'BGH', 'CS20', 'CS30', 'CS40', 'CS60', 'CW1', 'CW2', 'DRC2H', 'DT230', 'DT240', 'DT30', 'DT40', 'DT60', 'EB1X', 'EB2X', 'ED3H', 'EDC', 'EF30', 'EFL30', 'EFL60', 'ES130', 'F1', 'GC1', 'GC2', 'GR1', 'GR1X1', 'GR2', 'GU', 'GU2', 'HB20', 'HB30', 'KA2', 'KA4', 'KA6', 'KAT', 'KAT2', 'KR2', 'KR4', 'KS', 'KS2', 'KV1X1', 'KV2X1', 'KVP1X1', 'KVP2X1', 'LL1H', 'LL2H', 'MF', 'MF20', 'MF30', 'MF60', 'MT', 'MT2', 'MT5', 'MTT', 'P1', 'P1G', 'P1P', 'P2', 'P2G', 'PB', 'PB2', 'PB2X', 'PPP', 'PR20', 'PR30', 'PR40', 'PR60', 'PS', 'RB15', 'RB20', 'RB30', 'RC', 'RCV', 'RJ', 'RJ2', 'RTV', 'RXV', 'S', 'S2', 'SC', 'SC7', 'SG7', 'SH', 'SH2', 'SHH', 'SKI40', 'SKIN60', 'SKT1', 'SKT2', 'SKV', 'SN1X', 'SN1X1', 'SN2X', 'SN2X1', 'SP', 'SP2', 'ST', 'SU24', 'SU60', 'UN', 'VAC30', 'VAC60', 'VAT10', 'VAT15', 'VAT30', 'VAT4', 'VAT4K', 'VAT6', 'VAT6K', 'VBF180', 'VBF40', 'VBF90', 'VBG', 'VBGH', 'VBGK', 'VBGKH', 'VCS20', 'VCS30', 'VCS40', 'VCS60', 'VCW1', 'VCW1T', 'VCW2', 'VCW2T', 'VDRC2H', 'VDT30', 'VDT40', 'VDT60', 'VDT62', 'VDTM', 'VEB1X', 'VEB2X', 'VED3H', 'VEF30', 'VEF60', 'VEFL', 'VEFL30', 'VFR', 'VFR2', 'VGC1', 'VGC2', 'VGR1', 'VGR2', 'VGU', 'VGU2', 'VHB20', 'VHB30', 'VHY30', 'VHY30T', 'VHY60', 'VHY60T30', 'VKA2', 'VKA4', 'VKA6', 'VKAT', 'VKAT2', 'VKAT4', 'VKV1X', 'VKV1X1', 'VKV2X1', 'VKVP1X', 'VKVP1X1', 'VKVP2X1', 'VLB1X', 'VLL1H', 'VLL2H', 'VLL3H', 'VMB', 'VMB2', 'VMB2X', 'VMF20', 'VMF30', 'VMF60', 'VMT', 'VMT2', 'VMT5', 'VMTT', 'VPB', 'VPP', 'VPP2', 'VPP2P', 'VPPP', 'VPPS', 'VPR20', 'VPR30', 'VPR60', 'VRC', 'VRCV', 'VRJ', 'VRJ1X', 'VRJ2', 'VRJ2X', 'VRTV', 'VS', 'VS2', 'VSC10', 'VSC7', 'VSG7', 'VSH', 'VSH2', 'VSK', 'VSK2', 'VSK2V', 'VSKI40', 'VSKI60', 'VSKT', 'VSKT1', 'VSKV', 'VSN1X', 'VSN2X', 'VSN2X1', 'VSP', 'VSP2', 'VST', 'VSU24', 'VSU60', 'VSUT', 'VSVH', 'VUN', 'VW&F', 'VWF', 'VWP15', 'VWP60', 'VWPA', 'VWS20', 'VWS20T', 'VWS30', 'VWS30T', 'VWS40', 'VWS40T', 'VWS60', 'VWS60T', 'VWSN40', 'VWSN40T', 'VWSN60', 'VWSN60T', 'VWTF', 'VWTF2', 'VYAS', 'VYEP', 'W&F', 'WF', 'WP15', 'WP2H', 'WP60', 'WS20', 'WS30', 'WS30T', 'WS40', 'WS60', 'WSN40', 'WSN60', 'WTF2', 'WTF3', 'WVS30', 'YEP']

Замена кириллицы на латинские символы в prefix df_values

In [91]:
prefix_value = list(df_values['prefix'].unique())
prefix_value.sort()

In [92]:
len(prefix_value)

197

In [93]:
def replace_cirillic_latin2(row):
    v = row['prefix']
    #alf_ciril = 'ЕТОРАНКХСВМ'
    #alf_latin = 'ETOPAHKXCBM'
    new_v = ''
    for i in range(len(v)):
        simv = v[i]
        if simv in alf_ciril:
            pos = alf_ciril.index(simv)
            simv = alf_latin[pos]
        new_v += simv
    return new_v

In [94]:
df_values['prefix'] = df_values.apply(replace_cirillic_latin2,axis=1)

In [95]:
prefix_value = list(df_values['prefix'].unique())
prefix_value.sort()

Префиксы в списке покатегорий

In [96]:
print(prefix_value)

['2MWP24', '2WP24', 'AB', 'AB4', 'AB4G', 'ABG', 'AC2', 'AC30', 'AC60', 'AT10', 'AT15', 'AT30', 'AT4', 'AT4K', 'AT6', 'AT60', 'AT6K', 'BF180', 'BF40', 'BF90', 'BG', 'BGH', 'BGK', 'BGKH', 'CS20', 'CS30', 'CS40', 'CS60', 'CSR60', 'CW1', 'CW1T', 'CW2', 'CW2T', 'CWH', 'DRC2H', 'DRCH', 'DT30', 'DT32', 'DT40', 'DT42', 'DT60', 'DT62', 'DTM', 'EB1x', 'EB2x', 'EB4x', 'ED3H', 'EDC', 'EFL30', 'EFL60', 'FR', 'FR2,', 'FRK', 'FRT', 'FRTK', 'GC1', 'GC2', 'GR1', 'GR2', 'GU', 'GU2', 'HB30', 'HB60', 'HY30', 'HY60', 'KA2', 'KA4', 'KA6', 'KAT', 'KAT2', 'KAT4', 'KS', 'KS2', 'KV1X1', 'KV2X1', 'KVP1X1', 'KVP2X1', 'KW', 'KW2', 'KYT', 'KYT2', 'LL1H', 'LL1HP', 'LL2H', 'LL2HP', 'LL3H', 'MB', 'MB2', 'MB2X', 'MEFL30', 'MEFL60', 'MF20', 'MF30', 'MF60', 'MHB60', 'MHY30', 'MHY60', 'MMF20', 'MMF30', 'MMF60', 'MSKI40', 'MSKI60', 'MSU24', 'MSU60', 'MT', 'MT10', 'MT5', 'MTT', 'MW&F', 'MWP15', 'MWP2H', 'MWP60', 'MWS1', 'MWS2', 'MWS25', 'MWS30', 'MWS40', 'MWSN1', 'MWSN2', 'MWSN25', 'MWSN40', 'OW2', 'OWG', 'OWI', 'PB', 'PB2', 'PB2X', 'PL15', 'PL20', 'PL30', 'PP', 'PP2', 'PP2P', 'PP2S', 'PPP', 'PPS', 'PPT', 'PR20', 'PR30', 'PR40', 'PR60', 'RB15', 'RB20', 'RB30', 'RB40', 'RB60', 'RC', 'RCV', 'RJ', 'RJ2', 'RT', 'RTV', 'RX', 'RXV', 'SG10', 'SG5', 'SH', 'SH2', 'SHH', 'SK', 'SK2', 'SK2V', 'SKI40', 'SKI60', 'SKT', 'SKT1', 'SKT10', 'SKT2', 'SKT4', 'SKT6', 'SKV', 'SN1X', 'SN2X', 'SU24', 'SU60', 'SUT', 'TB', 'TB2', 'TB4', 'W&F', 'WP15', 'WP2H', 'WP60', 'WS1', 'WS2', 'WS25', 'WS30', 'WS40', 'WSN1', 'WSN2', 'WSN25', 'WSN40', 'WTF2', 'WTF3', 'YAS', 'YEP', 'YHD']

In [97]:
len(prefix_value)

197

Префиксы, отсутсвующие в списке подкатегорий

In [98]:
#missing_prefix = set(prefix_value).difference(set(prefix_amo))
missing_prefix = list(set(prefix_amo)-(set(prefix_value)))
missing_prefix.sort()

In [99]:
print(missing_prefix)

['DT230', 'DT240', 'EB1X', 'EB2X', 'EF30', 'ES130', 'F1', 'GR1X1', 'HB20', 'KR2', 'KR4', 'MF', 'MT2', 'P1', 'P1G', 'P1P', 'P2', 'P2G', 'PS', 'S', 'S2', 'SC', 'SC7', 'SG7', 'SKIN60', 'SN1X1', 'SN2X1', 'SP', 'SP2', 'ST', 'UN', 'VAC30', 'VAC60', 'VAT10', 'VAT15', 'VAT30', 'VAT4', 'VAT4K', 'VAT6', 'VAT6K', 'VBF180', 'VBF40', 'VBF90', 'VBG', 'VBGH', 'VBGK', 'VBGKH', 'VCS20', 'VCS30', 'VCS40', 'VCS60', 'VCW1', 'VCW1T', 'VCW2', 'VCW2T', 'VDRC2H', 'VDT30', 'VDT40', 'VDT60', 'VDT62', 'VDTM', 'VEB1X', 'VEB2X', 'VED3H', 'VEF30', 'VEF60', 'VEFL', 'VEFL30', 'VFR', 'VFR2', 'VGC1', 'VGC2', 'VGR1', 'VGR2', 'VGU', 'VGU2', 'VHB20', 'VHB30', 'VHY30', 'VHY30T', 'VHY60', 'VHY60T30', 'VKA2', 'VKA4', 'VKA6', 'VKAT', 'VKAT2', 'VKAT4', 'VKV1X', 'VKV1X1', 'VKV2X1', 'VKVP1X', 'VKVP1X1', 'VKVP2X1', 'VLB1X', 'VLL1H', 'VLL2H', 'VLL3H', 'VMB', 'VMB2', 'VMB2X', 'VMF20', 'VMF30', 'VMF60', 'VMT', 'VMT2', 'VMT5', 'VMTT', 'VPB', 'VPP', 'VPP2', 'VPP2P', 'VPPP', 'VPPS', 'VPR20', 'VPR30', 'VPR60', 'VRC', 'VRCV', 'VRJ', 'VRJ1X', 'VRJ2', 'VRJ2X', 'VRTV', 'VS', 'VS2', 'VSC10', 'VSC7', 'VSG7', 'VSH', 'VSH2', 'VSK', 'VSK2', 'VSK2V', 'VSKI40', 'VSKI60', 'VSKT', 'VSKT1', 'VSKV', 'VSN1X', 'VSN2X', 'VSN2X1', 'VSP', 'VSP2', 'VST', 'VSU24', 'VSU60', 'VSUT', 'VSVH', 'VUN', 'VW&F', 'VWF', 'VWP15', 'VWP60', 'VWPA', 'VWS20', 'VWS20T', 'VWS30', 'VWS30T', 'VWS40', 'VWS40T', 'VWS60', 'VWS60T', 'VWSN40', 'VWSN40T', 'VWSN60', 'VWSN60T', 'VWTF', 'VWTF2', 'VYAS', 'VYEP', 'WF', 'WS20', 'WS30T', 'WS60', 'WSN60', 'WVS30']

In [100]:
len(missing_prefix)

177

Товары, префиксы которых отсутствуют в списке категорий

In [101]:
df_amo_missing_prefix = df_amo_temp.query('prefix in @missing_prefix')

In [102]:
df_amo_missing_prefix.shape

(1970, 32)

Объединение датафреймов без префиксов и с отсутствующими префиксами и запись в файл

In [103]:
frames = [df_amo_without_prefix, df_amo_missing_prefix]

In [104]:
cert_w_missing_prefix = pd.concat(frames)

In [105]:
cert_w_missing_prefix.shape

(1977, 32)

In [106]:
cert_w_missing_prefix.to_csv('cert_w_missing_prefix.csv')

Запись отсутствующих в Списке подкатегорий prefix в файл

In [107]:
df_missing_prefix = pd.DataFrame({'prefix':missing_prefix})

In [108]:
df_missing_prefix.shape

(177, 1)

In [109]:
df_missing_prefix.head()

  prefix
0  DT230
1  DT240
2   EB1X
3   EB2X
4   EF30

In [110]:
df_missing_prefix.to_csv('missing_prefix.csv')

Подготовка товаров к объединению с Реестром подкатегорий

In [111]:
df_amo_temp = df_amo_temp.query('prefix in @prefix_value')

In [112]:
df_amo_temp.shape

(645, 32)

In [113]:
df_amo_temp.head()

,amo_id,этап_сделки,бюджет,дата_создания_сделки,sale_date,delivery_price,стоимость_доставки,products,price,subtotal,выручка_от_клиента,направление_(вид_сертификата),code,корневая_сделка,номер_2-го_сертификата,сертификат_на_фотографа,сертификат_на_тренера,статус_погашения,card_used_date,id,prefix,number,card_type,series,design_type,status,stock_status,sale_price,expiry_date,created_at,updated_at,deleted_at
4,23403789,Успешно_реализовано,5000,2023-01-03 21:56:43,2023-01-04 15:19:00,NaN,NaN,Квадроциклы_(Варианты:_2_квадрика_на_1_час_без...,9000.0,9000.0,5000,Квадроциклы,KVP1X1_138834,NaN,VKV2X1_2415531DIZ,NaN,NaN,Погашен,NaT,,KVP1X1,138834,paper,,design1,sold_used,,5000.0,,,,
8,23410089,Успешно_реализовано,15500,2023-01-05 14:17:46,2023-01-12 13:33:00,500.0,NaN,Вертолет_Robinson_R44_(Варианты:_20_минут_полё...,15500.0,15000.0,15500,Авиа_Вертолет,RB20_155687,NaN,NaN,NaN,NaN,Погашен,2023-03-07,,RB20,155687,paper,,design1,sold_used,,15000.0,,,,
9,23411393,Успешно_реализовано,8300,2023-01-05 19:46:14,2023-01-15 17:28:00,500.0,NaN,Аэротруба_(Варианты:_4_минуты_полёта_(для_1_че...,8300.0,7800.0,8300,Аэротруба,AT4_127813,NaN,NaN,NaN,NaN,Погашен,2023-08-10,,AT4,127813,paper,,design1,sold_used,,7800.0,,,,
13,23421175,Успешно_реализовано,10500,2023-01-08 14:05:08,2023-01-08 14:52:00,500.0,NaN,Квадроциклы_(Варианты:_2_квадрика_на_1_час_с_п...,10500.0,10000.0,10500,Квадроциклы,KVP2X1_155119,NaN,NaN,NaN,NaN,NaN,NaT,,KVP2X1,155119,paper,,design1,,,10000.0,,,,
15,23421479,Успешно_реализовано,7500,2023-01-08 15:17:05,2023-01-09 10:08:00,500.0,NaN,"Зимний_кайтинг_(Варианты:_2_часа_для_одного,_Б...",7500.0,7000.0,7500,Сноукайтинг,SKT1_113264,NaN,NaN,NaN,NaN,NaN,NaT,,SKT1,113264,paper,,design1,,,7000.0,,,,

Итоговые столбцы из АМО

In [114]:
lst_afm = ['id', 'amo_id',
               'series',
                'number',
                'prefix',
                'code',
                'card_type',
                'design_type',
                'status',
                'stock_status',
                'sale_price',
                'sale_date',
                'expiry_date',
                'card_used_date',
                'created_at',
                'updated_at',
                'deleted_at'
]

Итоговые столбцы из Реестра

In [115]:
lst_val = ['activity_value_id','prefix']

Датафреймы для объединения

In [116]:
df_amo_for_merge = df_amo_temp[lst_afm]

In [117]:
df_amo_for_merge.head()

,id,amo_id,series,number,prefix,code,card_type,design_type,status,stock_status,sale_price,sale_date,expiry_date,card_used_date,created_at,updated_at,deleted_at
4,,23403789,,138834,KVP1X1,KVP1X1_138834,paper,design1,sold_used,,5000.0,2023-01-04 15:19:00,,NaT,,,
8,,23410089,,155687,RB20,RB20_155687,paper,design1,sold_used,,15000.0,2023-01-12 13:33:00,,2023-03-07,,,
9,,23411393,,127813,AT4,AT4_127813,paper,design1,sold_used,,7800.0,2023-01-15 17:28:00,,2023-08-10,,,
13,,23421175,,155119,KVP2X1,KVP2X1_155119,paper,design1,,,10000.0,2023-01-08 14:52:00,,NaT,,,
15,,23421479,,113264,SKT1,SKT1_113264,paper,design1,,,7000.0,2023-01-09 10:08:00,,NaT,,,

In [118]:
df_value_for_merge = df_values[lst_val]

Объединение датафреймов

In [119]:
df_list = pd.merge(df_amo_for_merge, df_value_for_merge,how="inner",on='prefix')

In [120]:
df_list.head()

,id,amo_id,series,number,prefix,code,card_type,design_type,status,stock_status,sale_price,sale_date,expiry_date,card_used_date,created_at,updated_at,deleted_at,activity_value_id
0,,23403789,,138834,KVP1X1,KVP1X1_138834,paper,design1,sold_used,,5000.0,2023-01-04 15:19:00,,NaT,,,,122
1,,23561917,,151326,KVP1X1,KVP1X1_151326,paper,design1,sold_used,,5000.0,2023-01-27 09:42:00,,2023-08-10,,,,122
2,,23665615,,150930,KVP1X1,KVP1X1_150930,paper,design1,sold_used,,5000.0,2023-02-16 16:52:00,,2023-12-10,,,,122
3,,23794517,,68697,KVP1X1,KVP1X1_68697,paper,design1,,,10000.0,2023-03-04 12:40:00,,NaT,,,,122
4,,23825623,,259672,KVP1X1,KVP1X1_259672,paper,design1,sold_used,,5000.0,2023-03-10 19:42:00,,NaT,,,,122

In [121]:
df_list.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 645 entries, 0 to 644
Data columns (total 18 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   id                 645 non-null    object
 1   amo_id             645 non-null    int64
 2   series             645 non-null    object
 3   number             645 non-null    object
 4   prefix             645 non-null    object
 5   code               645 non-null    object
 6   card_type          645 non-null    object
 7   design_type        645 non-null    object
 8   status             645 non-null    object
 9   stock_status       645 non-null    object
 10  sale_price         632 non-null    float64
 11  sale_date          645 non-null    datetime64[ns]
 12  expiry_date        645 non-null    object
 13  card_used_date     90 non-null     datetime64[ns]
 14  created_at         645 non-null    object
 15  updated_at         645 non-null    object
 16  deleted_at         645 non-null    object
 17  activity_value_id  645 non-null    int64
dtypes: datetime64[ns](2), float64(1), int64(2), object(13)
memory usage: 90.8+ KB

Запись в файл

In [122]:
df_list.to_csv('list_of_goods_to_import.csv')